h1{
    color: rgba(165, 42, 42, 0.363);
}
p{
    color: rgb(0, 2, 128); 
}
h2{
    color: rosybrown;
}
#myBtn{
    width: 100px;
    height: 100px;
    border: 5px solid  rgb(111, 52, 189); /*done, just need to reload*/
    border-radius: 40px;
}
img{
    width: 500px;
    background-color: rgb(100, 55, 226);
}
#AniButton{
    width: 150px;
    height:auto;
    border: 50px dotted rgb(224, 80, 200);
    border-radius: 10px;
}
